{{extends file='bootstrap/layout-3column.html'}}
{{block name='page-scripts'}}
	<script src="/webapp2012/inc/scripts/underscore-min.js"></script>
	<script src="/webapp2012/inc/scripts/jquery-ui-1.8.20.custom.min.js"></script>
	<script src="/webapp2012/inc/scripts/pages/admin-slides-editor.js"></script>
{{/block}}
{{block name='nav'}}{{include file='bootstrap/nav.html'}}{{/block}}
{{block name='left-col'}}
	<p class="sidebar-actions">
		{{linkFor name='admin:presentation_edit_form' id=$presentation->id html_class='btn btn-large'}}<i class="icon-edit"></i> タイトルを編集{{/linkFor}}
		{{linkFor name='presentation_play' id=$presentation->id html_class='btn btn-large slide-viewer-go'}}<i class="icon-play"></i> スライドショーを開始{{/linkFor}}
	</p>
	<aside class="sidebar-form">
		<h3>新規スライド</h3>
		{{formFor name='admin:presentation_slide_new' id=$presentation->id html_class='slides-new-form form form-vertical'}}
			<fieldset>
				{{include file='bootstrap/parts-form-field.html' model=$newSlide field='content'}}
				{{include file='bootstrap/parts-form-field.html' model=$newSlide field='order_by' type='hidden' controlHtmlClass='hide'}}
			</fieldset>
			<fieldset>
				<input type="submit" class="btn btn-primary" data-iconify="icon-white icon-plus" name="save" value="スライドを追加する">
			</fieldset>
		{{/formFor}}
	</aside>
	<aside class="slides-edit-deletebox">
		<h3>ゴミ箱</h3>
		<p>スライドを削除するには、スライドをこの箱に移動するだけです。</p>
	</aside>
{{/block}}
{{block name='right-col'}}
	<aside class="extra-info">
		<h3>プレビュー</h3>
		{{formFor name='admin:presentation_slide_preview' id=$presentation->id html_class='slides-preview-form hide'}}
			<input type="hidden" name="slide" value=""/>
		{{/formFor}}
		<div class="slides-edit-preview">
			<p>（スライドが未選択です。）</p>
		</div>
	</aside>
{{/block}}
{{block name='main-col'}}
	{{formFor name='admin:presentation_slide_edit' id=$presentation->id html_class='slides-edit-form form form-horizontal'}}
		<ul class="thumbnails" id="slides-list">
			{{foreach $presentation->slides as $slide}}
			<li class="span3" data-slide-id="{{$slide->id}}">
				<div class="thumbnail">
					<textarea class="slides-editor">{{$slide->get('content')}}</textarea>
				</div>
				<div class="thumbnail-handle"><i class="icon-move"></i></div>
				<input type="hidden" class="slides-field-orderby" name="slide[{{$slide->id}}][order_by]" value="{{$slide->get('order_by')}}">
				<input type="hidden" class="slides-field-content" name="slide[{{$slide->id}}][content]" value="{{$slide->get('content')}}">
				<input type="hidden" class="slides-field-delete" name="slide[{{$slide->id}}][delete]" value="0">
			</li>
			{{/foreach}}
		</ul>
	{{/formFor}}
{{/block}}