<!doctype html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{{$pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{$pageDescription}}">
    <meta name="author" content="{{$pageAuthor}}">
    <link rel="stylesheet" href="/webapp2012/inc/styles/revealjs/reset.css">
	<link rel="stylesheet" href="/webapp2012/inc/styles/revealjs/main.css">
  </head>

  <body>
  	<div id="reveal">
		<div class="slides"> 
			{{foreach $presentation->slides as $slide}}
			<section>{{$slide->get('content')|escape|htmlify nofilter}}</section>
			{{/foreach}}
		</div>
		<aside class="controls">
			<a class="left" href="#">&#x25C4;</a>
			<a class="right" href="#">&#x25BA;</a>
			<!--<a class="up" href="#">&#x25B2;</a>
			<a class="down" href="#">&#x25BC;</a>-->
		</aside>
		<div class="progress"><span></span></div>
	</div>

	<!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
	<script src="/webapp2012/inc/scripts/revealjs/reveal.js"></script>
	<script>
		Reveal.initialize({
		    // Display controls in the bottom right corner
		    controls: true,

		    // Display a presentation progress bar
		    progress: true,

		    // If true; each slide will be pushed to the browser history
		    history: true,

		    // Loops the presentation, defaults to false
		    loop: false,

		    // Flags if mouse wheel navigation should be enabled
		    mouseWheel: true,

		    // Apply a 3D roll to links on hover
		    rollingLinks: true,

		    // UI style
		    theme: 'default', // default/neon

		    // Transition style
		    transition: 'default' // default/cube/page/concave/linear(2d)
		});
	</script>
  </body>
</html>




