{{extends file='bootstrap/layout-2column.html'}}
{{block name='page-scripts'}}
	<script src="/webapp2012/inc/scripts/underscore-min.js"></script>
	<script src="/webapp2012/inc/scripts/jquery-ui-1.8.20.custom.min.js"></script>
	<script src="/webapp2012/inc/scripts/pages/slides-viewer.js"></script>
{{/block}}
{{block name='nav'}}{{include file='bootstrap/nav.html'}}{{/block}}
{{block name='left-col'}}
	<p class="sidebar-actions">
		<a class="slide-viewer-go btn btn-large btn-primary" href="{{urlFor name='presentation_play' id=$presentation->id}}">スタート</a>
	</p>
{{/block}}
{{block name='main-col'}}
	<ul class="thumbnails" id="slides-list">
		{{foreach $presentation->slides as $slide}}
		<li class="span3" data-slide-id="{{$slide->id}}">
			<div class="thumbnail slide-viewer-slide">
				{{$slide->get('content')|escape|htmlify nofilter}}
			</div>
		</li>
		{{/foreach}}
	</ul>
{{/block}}