{{extends file="bootstrap/layout-1column-full.html"}}
{{block name="main-col"}}
<style type="text/css">
	dt {
		font-weight: bold;
	}
	dd {
		margin-bottom: 1em;
	}
</style>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#config" data-toggle="tab">設定</a></li>
		<li><a href="#routes" data-toggle="tab">ルート</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="config">
			<h2>設定</h2>
			<dl>
				{{foreach $config as $key=>$value}}
				<dt>{{$key|escape}}</dt>
				<dd>{{$value|escape}}</dd>
				{{/foreach}}
			</dl>
		</div>
		<div class="tab-pane" id="routes">
			<h2>ルート</h2>
			<dl>
				{{foreach $routes as $name=>$route}}
				<dt>{{$name|escape}}</dt>
				<dd>{{linkFor name=$route->getName()}}{{$route->getHttpVerb()|escape}} {{$route->getUrlPattern()|escape}}' -> {{$route->getController()|escape}}::{{$route->getAction()|escape}}(){{/linkFor}}</dd>
				{{/foreach}}
			</dl>
		</div>
	</div>
</div>
{{/block}}