{{extends file='bootstrap/layout-1column-middle.html'}}
{{block name='nav'}}{{include file='bootstrap/nav.html'}}{{/block}}
{{block name='main-col'}}
	{{formFor name='admin:presentation_edit_save' id=$presentation->id html_class='main form form-horizontal'}}
		<h3>プレゼン詳細</h3>
		<fieldset>
			{{include file='bootstrap/parts-form-field.html' model=$presentation field='title'}}
			{{include file='bootstrap/parts-form-field.html' model=$presentation field='summary'}}
		</fieldset>
		<fieldset>
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" name="save" value="プレゼンを保存する">
				<a href="{{urlFor name='admin:presentation_slides' id=$presentation->id}}" class="btn">キャンセル</a>
			</div>
		</fieldset>
	{{/formFor}}
{{/block}}