{{extends file='bootstrap/base-responsive.html'}}
{{block name='base'}}
	{{include file='bootstrap/nav.html'}}
	{{formFor name='admin:presentation_index' http_method='GET' html_class='form form-vertical'}}
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span3">
	      <div class="page-header">
	        <h1>{{$pageTitle}}</h1>
	      </div>
		    <p class="sidebar-actions">
				{{linkFor name='admin:presentation_new_form' html_class='btn btn-primary btn-large'}}<i class="icon-plus icon-white"></i> 新規プレゼン登録{{/linkFor}}
			</p>
			<aside class="sidebar-form">
				<h3>検索</h3>
				<label for="f_create_at">登録日</label>
				<input type="datetime" name="search[create_at]" value="{{$search->get('create_at')}}" class="datetime" data-datetime-format="date" data-datetime-minutes="all" data-datetime-hours="all">
				<label for="f_keyword">タイトル</label>
				<input type="text" name="search[keyword]" value="{{$search->get('keyword')}}">
				<label><input type="submit" name="search[submit]" value="検索" data-iconify="icon-search" class="btn"></label>
			</aside>
	    </div><!--/span-->
	    <div class="span9">
	      <div class="page-header">
	        <h2>{{$pageSubTitle}}</h2>
	      </div>
			{{include file='bootstrap/parts-alert-error.html'}}
			{{include file='bootstrap/parts-alert-info.html'}}
			<ul class="thumbnails" id="slides-list">
				{{foreach $presentations as $presentation}}
				<li class="span3">
					<div class="thumbnail">
						{{if $presentation->first_slide_content}}{{$presentation->first_slide_content|escape|htmlify nofilter}}{{/if}}
						<h4 class="presentation-title"><a href="{{urlFor name='admin:presentation_slides' id=$presentation->id}}">{{$presentation->get('title')}}</a></h4>
					</div>
				</li>
				{{/foreach}}
			</ul>
			{{include file="bootstrap/parts-index-paging.html" search=$search}}	
	    </div><!--/span-->
	  </div><!--/row-->
	</div><!--/.fluid-container-->
	{{/formFor}}
{{/block}}
