<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{{block name=title}}{{/block}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="" rel="stylesheet" type="text/css" />
  {{block name=styles}}{{/block}}
  <script src="/modernizr-2.0.6.js"></script>
  {{block name=head_scripts}}{{/block}}
</head>

<body>

{{block name=main}}{{/block}}
{{block name=scripts}}{{/block}}

<!-- Google アナリティクス:　下記のスクリプトで、「UA-XXXXX-X」をサイトのアナリティクスIDに変更して、コメントを外す。
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
-->
</body>
</html>
