{{extends file="layouts/index.html"}}
{{block name="main"}}
<h1>Sample - Show</h1>
{{if $pageError}}<span class="error" style="color:red;">{{$pageError|escape}}</span>{{/if}}
<p>サンプルモデル　#{{$id|escape}}</p>
<p>{{$model->getLabel('name')|escape}} {{$model->get('name')|escape}}</p>
<p>{{$model->getLabel('email')|escape}} {{$model->get('email')|escape}}</p>
<p><a href="{{urlFor name='sample_edit_form' id=$id}}">{{urlFor name='sample_edit_form' id=$id}}</a></p>
<p><a href="{{urlFor name='sample_delete_form' id=$id}}">{{urlFor name='sample_delete_form' id=$id}}</a></p>
{{/block}}